@import 'astronaut.scss';
@import 'mission.scss';

$purple-light: #8776ca;
$purple-strong: #3f20ba;

body {
  background-image: url("~@/assets/space.jpg");
  background-size: cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #a5a5a5;
    &.router-link-exact-active {
      color: $purple-light;
    }
  }
}

a {
  color: $purple-light;
}

h2{
  color: white !important;
}

.mission,
.astronaut {
  position: relative;
  .remove {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    -webkit-appearance: none;
    border: none;
    margin: 4px;
    color: $purple-strong;
    &:focus {
      outline: none;
    }
  }
}
form {
  label {
    width: 100%;
    text-align: left;
    color: white;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 700;
  }
  input[type="text"], textarea {
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-size: 15px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 8px 2px #755ae1;
      border-color: #3f21ba;
    }
  }
  input[type="submit"] {
    background: $purple-strong;
    color: White;
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
  select {
    width: 100%;
    background: white;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 3px 10px;
    font-size: 14px;
  }
}
