$purple-light: #8776ca;
$purple-strong: #3f20ba;

body {
  background-image: url("~@/assets/space.jpg");
  background-size: cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #a5a5a5;
    &.router-link-exact-active {
      color: $purple-light;
    }
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
  }
}

a {
  color: $purple-light;
}

h2{
  color: white !important;
}

.mission,
.astronaut {
  position: relative;
  .remove {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    -webkit-appearance: none;
    border: none;
    margin: 4px;
    color: $purple-strong;
    &:focus {
      outline: none;
    }
  }
}

@import 'astronaut.scss';
@import 'mission.scss';
@import 'form.scss';
