.astronaut {
  background: white;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  p {
    margin: 0px;
  }
  h4 {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .img {
    height: 115px;
    width: 115px;
    background-size: cover;
    border-radius: 50%;
  }
}
