.astronaut-single-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  height: 80vh;
}
.astronaut-single {
  max-width: 900px;
  margin: 0 auto;
  .info {
    background: white;
    padding: 25px;
    text-align: left;
    border-radius: 5px;
    box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.15);
    h4 {
      font-weight: 800;
      margin-bottom: 15px;
    }
  }
  .img {
    height: 250px;
    width: 250px;
    background-size: cover;
    border-radius: 50%;
  }
}
