form {
  label {
    width: 100%;
    text-align: left;
    color: white;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 700;
  }
  input[type="text"],
  textarea {
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-size: 15px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 8px 2px #755ae1;
      border-color: #3f21ba;
    }
  }
  input[type="submit"] {
    background: $purple-strong;
    color: White;
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
  select {
    width: 100%;
    background: white;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 3px 10px;
    font-size: 14px;
  }
}

.multiselect {
  &__tags {
    input[type="text"] {
      border: none;
      box-shadow: none !important;
      font-size: 13px;
    }
  }
  &__tag {
    background: $purple-strong;
    margin-bottom: 0;
    margin-right: 4px;
    &-icon {
      &:hover {
        background: $purple-strong;
      }
      &:after {
        color: white;
      }
    }
  }
  &__content-wrapper {
    border: none !important;
  }
  &__option {
    font-size: 13px !important;
    &--highlight {
      background: $purple-light;
    }
    &--selected {
      background: white;
      font-weight: 800 !important;
      color: $purple-strong;
      &:after {
        content: "";
      }
      &.multiselect__option--highlight {
        background: white;
        color: $purple-strong;
        &:after {
          background: white;
          color: gray;
          font-weight: 400;
          content: "Remove";
        }
      }
    }
    &:after {
      background: transparent;
    }
  }
}
