a {
  color: #42b983;
}
.film {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 100%;
  height: 160px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.15);

  img {
    max-width: 90px;
    float: left;
  }

  .film-content {
    vertical-align: top;
    float: left;
    text-align: left;
    padding-left: 20px;

    p {
      margin: 0px;
    }
    h4 {
      margin-bottom: 4px;
      margin-top: 0;
      font-size: 20px;
      color: #42b983;
      cursor: pointer;
    }
  }
}
.astronaut {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  p {
    margin: 0px;
  }
  h4 {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .img {
    height: 125px;
    width: 125px;
    background-size: cover;
    border-radius: 50%;
  }
}
.film,
.astronaut {
  position: relative;
  .remove {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    -webkit-appearance: none;
    border: none;
    margin: 4px;
    color: #42b983;
    &:focus {
      outline: none;
    }
  }
}
form {
  input[type="text"] {
    width: 100%;
    margin-top: 10px;
    padding: 3px 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    &:focus {
      outline: none;
    }
  }
  input[type="submit"] {
    background: #42b983;
    color: White;
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 4px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
  }
  select {
    width: 100%;
    background: white;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    padding: 3px 10px;
  }
}
